@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --popin: "Poppins", cursive;
    --bggradient: linear-gradient(#1EE175, #483740);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--popin);
    background: linear-gradient(-268deg,rgba(12, 111, 12, 0.864), rgb(107, 77, 18), rgb(52, 32, 96), rgb(8, 131, 117));
    max-width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    animation: animate 15s ease infinite;
    z-index: 1;
}

@keyframes animate{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    width: 100%;
    height: 100%;
}

.container>h1{
    text-align: center;
    padding: 3rem 2rem;
    font-size: 3rem;
    color: #fff;
}

.container .search-content{
    width: 100%;
    height: 5vh;
    margin-bottom: 3rem;
}

.container .search-content form{
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-input{
    width: 20%;
    max-width: 310px;
    padding: 7px 7px;
    border-radius: 6px;
    border: 1px solid #000;
    box-shadow: 20px 15px 50px #000;
    font-size: 16px;
    color: #000;
    margin: 0 1.2rem;
}

.btn{
padding: 7px 10px;
border-radius: 8px;
border: 2px solid #fff;
background: transparent;
font-size: 1rem;
cursor: pointer;
font-weight: 600;
color: #fff;
box-shadow: 20px 15px 50px #000;

}

.btn:hover{
    background-color: #18ed;
    border-color: #18ed;
}

.search-result{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 0 3rem;
}

.search-result .image-container{
    padding: 1rem 2rem;
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.search-result .image-container img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

.search-result .image-container img:hover{
    opacity: .7;
    border-color: #fff;
}

.search-result .image-container a{
    padding: 10px 0 8px 7px;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    text-transform: capitalize;
    font-size: 18px;
}

.search-result .image-container a:hover{
    color: #b7872e;
}

.search-more-btn{
    height: 18vh;
}

#show-btn{
   text-align: center;
   background-color: transparent;
   font-size: 18px;
   border: 2px solid #fff;
   color: #fff;
   padding: 10px 20px;
   display: block;
   margin: 30px auto;
   border-radius: 5px;
   cursor: pointer;
   font-weight: 600;
   display: none;
   box-shadow: 20px 15px 50px #000;
}

#show-btn:hover{
    background-color: #008cba;
    border-color: #008cba;
}

@media  (width< 950px) {
    .title{
       padding: 1rem 0;
    }
    #search-input{
        width: 25%;
    }
    .search-result{
        padding: 0 1.5rem;
    }
    .search-result .image-container{
        padding: 1rem .7rem;
    }
}

@media (width < 600px){
    .title{
        padding: .7rem 0;
    }
    #search-input{
        width: 40%;
    }
    .search-result{
        grid-template-columns: repeat(2, 1fr);
    }
    .search-result .image-container{
        padding: .7rem .4rem;
    }
}

@media (width <400px){
    .title{
        padding: .5rem 0;
    }
    #search-input{
        width: 50%;
    }
    .search-result{
        grid-template-columns: 1fr;
    }
}